.footer {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 15px;
}

.footer-section h3 {
    color: #fbbd0b;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
    color: #fff;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #fbbd0b;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9em;
    color: #ccc;
}

.footer-section .about {
    font-size: 6px;
}